
    <div   class="header page-header" id="myHeader">
      <div class="logo">
        <p>
            <img id="mia" src="https://assets.stickpng.com/images/580b585b2edbce24c47b2c89.png" width="80px" height="80px" >
  
        </p>
      </div>
      <a id="menu-icon" class="menu-icon" onclick="onMenuClick()">
        <i class="fa fa-bars"></i>
      </a>

      
        <nav  id="navigation-bar" class="nav-bar" >
          <img src="Logo1.png"  class="logo" alt="">
          <ul>
              <li><a href="#" id="m1">Model 1</a></li>
              <li><a href="#" id="m2">Model 2</a></li>
              <li><a href="#" id="m3">Model 3</a></li>
              <li><a href="#" id="m4">Model 4</a></li>
              <li><a href="#" id="m5">Model 5</a></li>
          </ul>
          <a href="#" class="btn">Book Now</a>
      </nav>
      
  
     
       

    
    </div>

    
