
    <div   class="header page-header" id="myHeader">
      <div class="logo">
        <p>
            <img id="mia" src="https://assets.stickpng.com/images/580b585b2edbce24c47b2c89.png" width="80px" height="80px" >
  
        </p>
      </div>
      <a id="menu-icon" class="menu-icon" onclick="onMenuClick()">
        <i class="fa fa-bars"></i>
      </a>

      <div id="navigation-bar" class="nav-bar">
        <a href="#" class="active">Modelos</a>
        <a href="#">Renta</a>
        <a href="#">Carros</a>
        <a href="#">Servicos</a>
        <a href="#">Nosotors</a>
      </div>

      <div class="header-right"><button>Ingresar</button></div>
    </div>


      