/* Style the header */
.header {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
  }

  /* Page content */
  .content {
    padding: 16px;
  }

  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }

  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 102px;
  }



:root {
  --bgcolor: #1a79cf;
}

* {
  margin: 0;
  padding: 0;
}

.page-header {
  background-color: var(--bgcolor);
  padding: 1.3rem;
  display: flex;
  justify-content: space-between;
  background-color: #181818;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.logo {
  color: #c60e17;
  align-self: center;
  margin-left: 1.2rem;
  font-size: 2.5rem;
}

.nav-bar {
  margin: auto;
}

.nav-bar a {
  color: white;
  padding: 1.5rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.2rem;
}

.menu-icon {
  color: white;
  cursor: pointer;
  display: none;
}

button {
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.9rem;
}

@media screen and (max-width: 700px) {
    .nav-bar {
      display: none;
      position: absolute;
      top: 3.7rem;
      left: 0;
      width: 100%;
      background-color: var(--bgcolor);
      text-align: center;
    }

    .nav-bar.responsive {
      display: block;
    }

    .nav-bar a {
      display: block;
    }

    .menu-icon {
      display: block;
      z-index: 1;
    }

    button {
      padding: 0.4rem;
    }
    .logo {
      font-size: 1.4rem;
    }
  }




  nav ul
{
    flex: 1;
    text-align: center;
}

nav ul li
{
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a
{
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
}

nav .btn
{
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px 30px;

    margin-right: 7%;
}

