
<!DOCTYPE html>
<html lang="en" title="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Listado Autos</title>
    <link rel="stylesheet" href="list-client.component.css">
</head>

<body>
    <main class="table">
        <section class="table__header">
            <h1>Listado Automoviles</h1>
            <div class="input-group">
                <input type="search" placeholder="Buscar...">
                <img src="https://cdn-icons-png.flaticon.com/512/5868/5868370.png" alt="">
            </div>
            <div>
                <button id="btn-abrir-popup" class="card-button">Crear</button>
            </div>
        </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th> id <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Nombre  <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Apellido<span class="icon-arrow">&UpArrow;</span></th>
                        <th> Cedula <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Telefono <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Correo <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Edad <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Estado <span class="icon-arrow">&UpArrow;</span></th>
                    </tr>
                </thead>
                <tbody>
                    
                    
                    <tr>
                        <td> 1 </td>
                        <td> Jose</td>
                        <td> Naula</td>
                        <td> 0151145315</td>
                        <td> 2320115</td>
                        <td> davicho896@gmail.com</td>
                        <td> 12</td>
                        <td>
                            <button id="btn-abrir-popup" class="card-button">Editar</button>
                            
                        </td>
                    </tr> 
                    
                </tbody>
            </table>
        </section> 
    </main>

</body>

</html>