*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body{
    background-color: rgb(131, 5, 5);
    background-color: rgb(114, 6, 6);
    background: url(https://cdn.mos.cms.futurecdn.net/jRfTsFPhiGPSAfpCS7bQmJ.jpg) center / cover;
}
.container__cards{
    width: 100%;
    margin: auto;
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.card{
    width: 500px;
    margin: 50px;
    padding: 20px;
    box-shadow: 20px 20px 20px rgba(0,0,0,0.9);
    background: rgb(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.171);
    border-top: 1px solid rgba(255, 255, 255, 0.171);
    border-radius: 15px;
    backdrop-filter: blur(5px );
    -webkit-backdrop-filter: blur(5px);
    transition: all 300ms;
}
.card:hover {
    transform: translate(-10px);
}
.card:hover .cover__card img{
    transform: scale(1.1);
}
.cover__card{
    width: 100%;
    height: 230px;
    border-radius: 14px;
    overflow: hidden;
}
.cover__card  img{
    width: 130%;
    transition: all 300ms;
}
.card h2{
    font-size: 25px;
    font-weight: 400;
    margin-top: 20px;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.card p{
    margin-top: 20px;
    font-size: 14px;
    font-weight:  300;
    color: #080707;
    letter-spacing: 0.5px;
}
.card hr{
    margin-top: 30px;
    border: none;
    height: 0.2px;
    background: #41414138;
}

.footer__card{
    margin-top: 10px;
    display: flex;
    color: #fff;
    justify-content: space-between;
}

.footer__card h3{
    font-size: 15px;
    font-weight: 500;

}
@media screen and (max-width:1200px) {
    .container__cards{
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        margin-top: 100px;
        padding-bottom: 100px;
    }
}
