
<!DOCTYPE html> 

<html Lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="welcome-cliente.component.css" >
  <title>BIENVENIDOS</title>
</head>
<body>

       

  <app-headerlogsidebar-cliente></app-headerlogsidebar-cliente>
  <div id="cont">
  
      <div class="home-wrapper">
  
          <section id="contenedorbn" class="home-section">
  
              <div class="home-content">
              
                <router-outlet></router-outlet>
                  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
                   
                    <div class="content-all">

                    <div class="slider">
                      <span ><img src="assets\images\img1.jpg" alt=""></span>
                      <span ><img src="assets\images\img2.jpg" alt=""></span>
                      <span ><img src="assets\images\img3.jpg" alt=""></span>
                      <span ><img src="assets\images\img4.jpg" alt=""></span>
                      <span ><img src="assets\images\img5.jpg" alt=""></span>
                      <span ><img src="assets\images\img6.jpg" alt=""></span>
                      
                      
                      
                    </div>
                  </div>
                  
        <div class="card">
          <div class="cover__card">
            
          </div>
          <h2> BIENVENIDO CLIENTE </h2>
          
            
          <hr>

          <div class="footer__card">
            <h3 class="user__name">Car Soft</h3>

          </div>

        </div>

                    
  
                  </div>
  
  
              </div>
  
          </section>
  
      </div>

    





  </div>
</body>
</html>

 

