<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Website with a contact Form 01</title>

    <!-- GOOGLE FONTs -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


</head>


    <div class="fondobanner">
        <div style="padding: 50px; ;">
            <h1 class="logo" style="margin-block-end: 15px;">Catalogo  <span>SofCart </span></h1>
            <div class="col-lg-6 col-md-8 mx-auto ">
              <p style="text-align: center; font-size: 15px;margin-block-end: 15px;">Ofrecemos un servicio de atención al cliente excepcional, con personal amable y profesional que está disponible las 24 horas del día para ayudarlo con cualquier pregunta o inquietud que tenga</p>

              <div>
                <p style="text-align: center;">

                  <a id="btnnes" class="btn  "  href="#" style="margin-right: 25px;">Conoce mas sobre nosotros</a>
                  <a id="btnnes" class="btn  "  href="#">Registrate</a>

              </div>
            </div>
             </div>
    </div>
    <body class="bodyx2" style="padding: 50px; color: black;">
        <div class="content">
               <div class="contact-form animated bounceInUp">
                <div style="margin: 25px;">
                  <section class="table__header" style="border-radius:16px ;">
                    <div class="input-group">
                        <input type="search" placeholder="Buscar...">
                    </div>

                </section>


                </div>


                  <div class="container">

                            <div id="tarjetascontenedor" class="row row-cols-auto row-cols-md-3 g-3">
                              <div class="" *ngFor="let aut of automoviles" [class.selected]="aut.num_placa ">

                                      <div class="product-card">
                                          <div class="logo-cart">
                                            <img  src="http://images.squarespace-cdn.com/content/v1/56ae96aa859fd0b23b9aef2f/1555001641303-P290TUKFD5XW00F6ZK0C/Red+Eyes+Dragon+Boat+logo.png" width="30px" height="30px">
                                            
                                          </div>

                                          <div class="shoe-details">
                                            <a class="pc-head-link dropdown-toggle arrow-none mr-0" data-toggle="dropdown"  role="button" aria-haspopup="false" aria-expanded="false">
                                              <img style="border-radius: 16px;" [src]="'data:image/jpeg;base64,' + aut.foto" alt="" width="50px" height="50px"
                                             alt="user-image" class="user-avtar">
                                            </a>

                                              <!-- <span class="shoe_name">{{ aut.modelo }}</span> -->

                                              <p class="card-text" >
                                                <p style="font-size: 18px; color: white; " >   <strong> Caracteristicas:  </strong>  </p>
                                                <div style="margin-top: 15px;margin-block-end: 15px;">
                                                  <p style="font-size: 15px; color: white;" >   Nº Placa: {{ aut.num_placa}}  </p>
                                                  <p style="font-size: 15px; color: white;" >   Modelo: {{ aut.modelo }}  </p>
                                                  <p style="font-size: 15px; color: white;" >   Marca: {{ aut.marca }}  </p>
                                                  <p style="font-size: 15px; color: white;" >   Año: {{ aut.anio }}  </p>
                                                  </div>
                                                </div>
                                          </div>

                                          <div style="display: flex; justify-content: center;">
                                            <button id="btnnes" style="padding-left: 25px; padding-right: 25px; border-radius: 25px; margin-right: 12px; color: black;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#Employee"  >Ver</button>
                                            <a id="btnnes" class="btn  "  href="#">Editar</a>
                                          </div>
                                        </div>

                              </div>
                          </div>




                  </div>
                 <div>
                </div>
               </div>
   
             <div>

           </div>

       </body>



   <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>





  <div class="modal fade" id="Employee" style="color: white;">
    <div  id="modFade" class="modal-dialog justify-content-center align-items-center">
        <div  class="modal-content" style="background-color: rgba(0, 0, 0, .1);">
            <form id="needs-validation"  >
                <div class="modal-header" style="text-align: center;">
                    <h1 class="logo" style="margin-block-end: 15px;">Vista <span>Previa </span></h1>
                </div>
                <div class="modal-body">
                    
                </div>
                <div  class="modal-footer">
                    <button style="color: black; border-radius: 25px;" id="btnnes" type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>







</html>


