
.pc-header[class*="bg-"], .pc-header.dark-header {
  box-shadow: none;
  background: #1c232f;
  color: #fff;
}

@media (min-width: 1025px) {
  .pc-header[class*="bg-"] .pc-head-link, .pc-header.dark-header .pc-head-link {
      color: #fff;
      border-radius: 25px;
  }

  .pc-header[class*="bg-"] .pc-head-link i, .pc-header.dark-header .pc-head-link i {
      color: #fff;
      border-radius: 25px;
  }

  .pc-header[class*="bg-"] .pc-head-link.active, .pc-header[class*="bg-"] .pc-head-link:active, .pc-header[class*="bg-"] .pc-head-link:focus, .pc-header[class*="bg-"] .pc-head-link:hover, .pc-header.dark-header .pc-head-link.active, .pc-header.dark-header .pc-head-link:active, .pc-header.dark-header .pc-head-link:focus, .pc-header.dark-header .pc-head-link:hover {
      color: #fff;
      background: rgba(255, 255, 255, 0.15);
      border-radius: 25px;
  }

  .pc-header[class*="bg-"] .pc-head-link .user-desc, .pc-header.dark-header .pc-head-link .user-desc {
      color: rgba(255, 255, 255, 0.7);
      border-radius: 25px;
  }
}

.pc-sidebar.light-sidebar {
  background: #000000;
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
}

.pc-sidebar.light-sidebar .pc-caption {
  color: #7267EF;
}

.pc-sidebar.light-sidebar .pc-link {
  color: #1c232f;
  font-size: 14px;
}

.pc-sidebar.light-sidebar .pc-link .pc-micon i,
  .pc-sidebar.light-sidebar .pc-link .pc-micon svg {
  color: #525b69;
  stroke: #525b69;
  fill: #f2f2f2;
}

.pc-sidebar.light-sidebar .pc-link:active, .pc-sidebar.light-sidebar .pc-link:focus, .pc-sidebar.light-sidebar .pc-link:hover {
  color: #7267EF;
}

.pc-sidebar.light-sidebar .pc-item:hover > .pc-link,
.pc-sidebar.light-sidebar .pc-item.active > .pc-link {
  color: #7267EF;

}

.pc-sidebar.light-sidebar .pc-navbar > .pc-item.active .pc-link, .pc-sidebar.light-sidebar .pc-navbar > .pc-item:focus .pc-link, .pc-sidebar.light-sidebar .pc-navbar > .pc-item:hover .pc-link {
 background: transparent;


}

.pc-sidebar.light-sidebar .pc-navbar > .pc-item.active > .pc-link, .pc-sidebar.light-sidebar .pc-navbar > .pc-item:focus > .pc-link, .pc-sidebar.light-sidebar .pc-navbar > .pc-item:hover > .pc-link {
  background: transparent;

}

.pc-horizontal .topbar.light-sidebar {
  background: #000000;
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
}

.pc-horizontal .topbar.light-sidebar .pc-link {
  color: #1c232f;
}

.pc-horizontal .topbar.light-sidebar .pc-link:active, .pc-horizontal .topbar.light-sidebar .pc-link:focus, .pc-horizontal .topbar.light-sidebar .pc-link:hover {
  color: #7267EF;
}

.creative-layout .pc-sidebar.light-sidebar .pc-navbar > .pc-item + .pc-item > .pc-link {
  border-top: 1px solid rgba(28, 35, 47, 0.1);

}

.auth-wrapper ~ .pct-customizer {
  display: none;
}







/* ================================    Blockquote End  ===================== */
.pc-sidebar {

  background: rgb(0,0,6);



  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  width: 280px;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1026;

 border-radius: 25px;
  margin-bottom: 15px;
  margin-top: 95px;
  margin-left: 10px;
  /* https://i.pinimg.com/originals/0c/2d/06/0c2d06d5d80482483a518d1156106e10.jpg
   https://images.unsplash.com/photo-1567808291548-fc3ee04dbcf0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmxhY2slMjBjYXJ8ZW58MHx8MHx8&w=1000&q=80
 https://wallpapercave.com/wp/wp5055252.jpg
 http://papers.co/wallpaper/papers.co-bg86-car-lamborghini-car-dark-road-drive-art-winter-34-iphone6-plus-wallpaper.jpg
  */

  background-image: url("https://wallpapercave.com/wp/wp5055252.jpg");

}

.pc-sidebar ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.pc-sidebar .pc-caption {
  color: #ff0000;
  display: block;
  padding: 25px 10px 10px;
  letter-spacing: 0.07em;
  text-transform: uppercase;


  font-weight: 600;
}

.pc-sidebar .pc-caption label {
  margin-bottom: 0;
}

.pc-sidebar .pc-caption span:not(.badge) {
  display: block;
  color: #004cff;
  font-size: 10px;
  font-weight: 500;
  text-transform: capitalize;
}

.pc-sidebar .pc-micon {
  margin-right: 15px;
}

.pc-sidebar .pc-micon i {
  font-size: 18px;
  color: #1900ff;
}

.pc-sidebar .pc-micon > svg {
  width: 18px;
  height: 18px;
  color: #b3aee4;
  fill: rgba(114, 103, 239, 0.2);
}

.pc-sidebar .pc-link {
  display: block;
  padding: 14px 30px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
}

.pc-sidebar .pc-link:active, .pc-sidebar .pc-link:focus, .pc-sidebar .pc-link:hover {
  text-decoration: none;
  color: #fff;
}

.pc-sidebar .pc-link:active .pc-micon i,
    .pc-sidebar .pc-link:active .pc-micon svg, .pc-sidebar .pc-link:focus .pc-micon i,
    .pc-sidebar .pc-link:focus .pc-micon svg, .pc-sidebar .pc-link:hover .pc-micon i,
    .pc-sidebar .pc-link:hover .pc-micon svg {
  color: #fff;
}

.pc-sidebar .pc-arrow {
  float: right;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}

.pc-sidebar .pc-arrow > svg {
  width: 14px;
  height: 14px;
}

.pc-sidebar .pc-badge {
  margin-left: 8px;
}

.pc-sidebar .m-header {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 15px 30px;
  background: #000000;

}
.navbar-content .ps{


}
.pc-sidebar .m-header .logo-sm {
  display: none;
}

.pc-sidebar .navbar-content {
  position: relative;
  height: calc(100vh - 70px);


}
.navbar-wrapper {

}
.pc-sidebar .pc-submenu {
  display: none;
}

.pc-sidebar .pc-submenu .pc-link {
  padding: 10px 30px 10px 65px;
  margin: 10px;
}

.pc-sidebar .pc-submenu .pc-submenu .pc-link {
  padding: 10px 30px 10px 85px;
  margin: 10px;

}

.pc-sidebar .pc-item.active > .pc-link, .pc-sidebar .pc-item:focus > .pc-link, .pc-sidebar .pc-item:hover > .pc-link {
  color: #ffffff;
  margin: 10px;
  font-size: 20px;

}

.pc-sidebar .pc-item.active > .pc-link .pc-micon i,
  .pc-sidebar .pc-item.active > .pc-link .pc-micon svg, .pc-sidebar .pc-item:focus > .pc-link .pc-micon i,
  .pc-sidebar .pc-item:focus > .pc-link .pc-micon svg, .pc-sidebar .pc-item:hover > .pc-link .pc-micon i,
  .pc-sidebar .pc-item:hover > .pc-link .pc-micon svg {
  color: #000000;
  font-size: 20px;
}

/*   cuando el mause esta encima del btn */
.pc-sidebar .pc-navbar > .pc-item.active > .pc-link, .pc-sidebar .pc-navbar > .pc-item:focus > .pc-link, .pc-sidebar .pc-navbar > .pc-item:hover > .pc-link {
  background: #ff0202;
  border-radius: 15px;

}

.pc-sidebar .pc-hasmenu.pc-trigger > .pc-submenu {
  display: block;
}

.pc-sidebar .pc-hasmenu.pc-trigger > .pc-link > .pc-arrow {
  transform: rotate(90deg);
}

body:not(.minimenu) .pc-sidebar .pc-submenu {
  position: relative;
}

body:not(.minimenu) .pc-sidebar .pc-submenu .pc-item {
  position: relative;
}

body:not(.minimenu) .pc-sidebar .pc-submenu .pc-item:before {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  left: 50px;
  top: 16px;
  border-radius: 50%;
  z-index: 1;
  opacity: 0.7;
  font-size: 20px;
}

body:not(.minimenu) .pc-sidebar .pc-submenu .pc-item.active:before {
  background: #ff0000;
}

body:not(.minimenu) .pc-sidebar .pc-submenu .pc-item:hover:before {
  background: #ff0000;
}

body:not(.minimenu) .pc-sidebar .pc-submenu .pc-submenu > .pc-item:before {
  left: 70px;
}

.pc-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);
}

.minimenu .pc-sidebar {
  width: 70px;
}

.minimenu .pc-sidebar .m-header {
  padding: 15px 17px;
}

.minimenu .pc-sidebar .m-header .logo-sm {
  display: block;
}

.minimenu .pc-sidebar .m-header .logo-lg {
  display: none;
}

.minimenu .pc-sidebar .pc-badge,
.minimenu .pc-sidebar .pc-caption,
.minimenu .pc-sidebar .pc-mtext,
.minimenu .pc-sidebar .pc-navbar > li > a > .pc-arrow {
  display: none;
}

.minimenu .pc-sidebar .ps__rail-X,
.minimenu .pc-sidebar .ps__rail-y {
  display: none;
}

.minimenu .pc-sidebar .ps {
  overflow: visible !important;
}

.minimenu .pc-sidebar .pc-link {
  padding: 20px 25px;
}

.minimenu .pc-sidebar .pc-submenu {
  background: #1c232f;
  position: absolute;
  left: 100%;
  padding: 8px 0;
}

.minimenu .pc-sidebar .pc-submenu .pc-link {
  padding: 8px 30px;
}

.minimenu .pc-sidebar .pc-item {
  position: relative;
}

.minimenu .pc-sidebar .pc-item:hover > .pc-link {
  width: calc(200px + 70px);
  background: transparent;
  color: #fff;


}

.minimenu .pc-sidebar .pc-item:hover > .pc-link .pc-micon {
  margin-right: 40px;

}

.minimenu .pc-sidebar .pc-item:hover > .pc-link .pc-micon i {
  color: #fff;

}

.minimenu .pc-sidebar .pc-item:hover > .pc-link .pc-mtext {
  display: inline-block;
}

.minimenu .pc-sidebar .pc-item:hover > .pc-submenu {
  display: block;
  width: 200px;

}

.minimenu .pc-sidebar .pc-item .pc-item:hover > .pc-link {
  width: 200px;
  background: #1c232f;


}

.minimenu .pc-sidebar .pc-item .pc-item:hover > .pc-submenu {
  top: 0;
}

@media (min-width: 1025px) {
  .navbar-overlay .pc-sidebar.pc-over-menu-active .navbar-wrapper {
      position: relative;
      z-index: 5;
      border-radius: 25px;
  }

  .navbar-overlay .pc-sidebar:not(.pc-over-menu-active) {
      left: -280px;
      box-shadow: none;
  }
}

@media (max-width: 1024px) {
  .pc-sidebar {
      left: -280px;
      box-shadow: none;
      transition: all 0.15s ease-in-out;
      border-radius: 25px;
  }

  .pc-sidebar {
      left: 0;
      box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
      border-radius: 25px;
  }

  .pc-sidebar .navbar-wrapper {
      position: relative;
      z-index: 5;
      background: inherit;
      border-radius: 25px;
  }

  .minimenu .pc-container {
      margin-left: 0;
      border-radius: 25px;
  }
}

.pc-header {
  background: #000000;
  box-shadow: 0 1px 0 0 #f1f1f1;
  color: #1c232f;
  min-height: 70px;
  position: fixed;
  left: 1px;
  right: 0;
  z-index: 1025;
  overflow: hidden;
  width: 100;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-right: 10px;
  margin-left: 10px;


}

.pc-header ul {
  margin-bottom: 0;
  display: inline-flex;
}

.pc-header .header-wrapper {
  display: flex;

  overflow: hidden;
  background: rgb(0,0,6);

  background: rgb(0,0,6);
border-bottom-right-radius: 25px;
  color: white;
}

.pc-header .pc-h-item {
  min-height: 70px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin-right: 15px;
}

.pc-header .pc-head-link {
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  padding: 0.60rem 0.9rem;
  margin: 0 5px;
  border-radius: 4px;
  position: relative;
  font-weight: 500;
  overflow: hidden;
  background-color: #ff0000;
  border-radius: 15px;
}

.pc-header .pc-head-link > i {
  font-size: 20px;
  color: #7267EF;
  overflow: hidden;
}

.pc-header .pc-head-link > svg {
  width: 20px;
  height: 20px;
  overflow: hidden;
}

.pc-header .pc-head-link.active, .pc-header .pc-head-link:active, .pc-header .pc-head-link:focus, .pc-header .pc-head-link:hover {
  text-decoration: none;
  color: #7267EF;
  background: #e8e7fc;
  overflow: hidden;
}

.pc-header .pc-head-link .pc-h-badge {
  position: absolute;
  top: 3px;
  right: 10px;
  border-radius: 50%;
  font-size: 9px;
  overflow: hidden;
}

.pc-header .pc-head-link .pc-h-badge.dots {
  width: 9px;
  height: 9px;
  top: 7px;
  right: 16px;
  padding: 0;
  overflow: hidden;
}

.pc-header .pc-head-link .user-desc,
  .pc-header .pc-head-link .user-name {
  display: block;
  line-height: 1;
  overflow: hidden;
}

.pc-header .pc-head-link .user-name {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
  overflow: hidden;
}

.pc-header .pc-head-link .user-desc {
  font-size: 12px;
  font-weight: 400;
  color: rgba(28, 35, 47, 0.7);
  overflow: hidden;
}

.pc-header .pc-h-dropdown {
  transform: none !important;
  top: 100% !important;
  overflow: hidden;
}

.pc-header .pc-h-dropdown .fa-circle {
  font-size: 5px;
  vertical-align: middle;
  overflow: hidden;
}

.pc-header .pc-h-dropdown.dropdown-menu-right {
  right: 0 !important;
  left: auto !important;
  overflow: hidden;
}

.pc-header .pc-level-menu {
  position: relative;
  overflow: hidden;

}

.pc-header .pc-level-menu:hover .dropdown-menu {
  display: block;
  left: 100%;
  top: -18px !important;
  overflow: hidden;
}

.pc-header .pc-mega-menu {
  position: static;
  overflow: hidden;
}

.pc-header .pc-mega-menu .pc-mega-dmenu {
  left: 0 !important;
  right: 0;
  transform: none !important;
  top: 100% !important;
  padding: 0;
  overflow: hidden;
}

.pc-header .pc-mega-menu .pc-mega-dmenu .row.no-gutters .col {
  padding: 15px 0;
  border-right: 1px dashed #f1f1f1;
  overflow: hidden;
}

.pc-header .pc-mega-menu .pc-mega-dmenu .mega-title {
  margin: 10px 25px;
  position: relative;
}

.pc-header .pc-mega-menu .pc-mega-dmenu .pc-mega-list {
  display: block;
  list-style: none;
  padding-left: 0;
}

.pc-header .pc-act-menu .pc-act-dmenu {
  padding: 0;
  min-width: 20rem;
}

.pc-header .pc-act-menu .pc-act-dmenu .act-head {
  border-radius: 2px 2px 0 0;
  padding: 24px 0;
  text-align: center;
}

.pc-header .pc-act-menu .pc-act-dmenu .act-block {
  text-align: center;
  padding: 25px 0;
  border-right: 1px dashed #f1f1f1;
  border-bottom: 1px dashed #f1f1f1;
  display: block;
  color: #293240;
}

.pc-header .pc-act-menu .pc-act-dmenu .act-block:active, .pc-header .pc-act-menu .pc-act-dmenu .act-block:focus, .pc-header .pc-act-menu .pc-act-dmenu .act-block:hover {
  text-decoration: none;
  background: rgba(240, 242, 248, 0.5);
}

.pc-header .pc-act-menu .pc-act-dmenu .act-block i {
  font-size: 35px;
}

.pc-header .pc-act-menu .pc-act-dmenu .act-block svg {
  width: 35px;
  height: 35px;
  color: #000;
  margin-bottom: 10px;
}

.pc-header .drp-search {
  min-width: 20rem;
}

.pc-header .pc-cart-menu .drp-cart {
  min-width: 20rem;
  padding: 0;
}

.pc-header .pc-cart-menu .drp-cart .cart-head {
  border-radius: 2px 2px 0 0;
  padding: 20px 20px;
  background: rgba(232, 231, 252, 0.2);
  border-bottom: 1px solid #f1f1f1;
}

.pc-header .pc-cart-menu .drp-cart .cart-item {
  display: flex;
  padding: 10px 20px;
}

.pc-header .pc-cart-menu .drp-cart .cart-item + .cart-item {
  border-top: 1px dashed #f1f1f1;
}

.pc-header .pc-cart-menu .drp-cart .cart-item img {
  width: 60px;
}

.pc-header .pc-cart-menu .drp-cart .cart-item .cart-desc {
  flex: 1;
}

.pc-header .pc-cart-menu .drp-cart .cart-item .p-star {
  fill: currentColor;
}

.pc-header .pc-cart-menu .drp-cart .cart-item.table-responsive {
  border-top: 1px solid #f1f1f1;
  background: rgba(232, 231, 252, 0.2);
}

.pc-header .pc-cart-menu .drp-cart .cart-item svg {
  width: 14px;
  height: 14px;
}

.pc-header .user-avtar {
  width: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.minimenu .pc-header {
  left: 70px;
}




.notification-modal.modal.fade .modal-dialog {
  transform: translate(100%, 0);
}

.notification-modal.modal.show .modal-dialog {
  transform: none;
}

.notification-modal {
  padding-right: 0 !important;
}

.notification-modal .modal-dialog {
  margin: 0 0 0 auto;
}

.notification-modal .modal-content {
  min-height: 100vh;
  border: none;
  border-radius: 0;
  box-shadow: -1px 0 9px -3px rgba(0, 0, 0, 0.6);
}


#pc-noti-home > .media:hover {
  margin: -15px;
  padding: 15px;
  background: rgba(114, 103, 239, 0.1);
}

@media (max-width: 767.98px) {
  .pc-header .pc-head-link {
      padding: 0.65rem;
      margin: 0;
  }

  .pc-header .pc-h-item {
      position: static;
  }

  .pc-header .pc-h-item .pc-h-dropdown {
      left: 0 !important;
      right: 0 !important;
  }
}

.pc-container {
  position: relative;
  top: 70px;
  margin-left: 280px;
  min-height: calc(100vh - 70px);
}

.pc-container .pcoded-content {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

.pc-container .page-header + .row {
  padding-top: 50px;
}

.pc-container .page-header + .pcoded-content {
  padding-top: calc(30px + 55px);
}

.minimenu .pc-container {
  margin-left: 70px;
}

.minimenu .page-header {
  left: 70px;
}

.page-header {
  background: #fff;
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  position: fixed;
  display: flex;
  align-items: center;
  top: 70px;
  left: 280px;
  right: 0;
  z-index: 1023;
  min-height: 55px;
  padding: 13px 30px;
}

.page-header .page-block {
  width: 100%;
}

.page-header .page-header-title {
  display: inline-block;
}

.page-header h5 {
  margin-bottom: 0;
  margin-right: 8px;
  padding-right: 8px;
  font-weight: 500;
  border-right: 1px solid #cdd4e8;
}

.page-header .breadcrumb {
  padding: 0;
  display: inline-flex;
  margin-bottom: 0;
  background: transparent;
  font-size: 13px;
}

.page-header .breadcrumb a {
  color: #293240;
}

.page-header .breadcrumb .breadcrumb-item a:hover {
  color: #7267EF;
}

.page-header .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  position: relative;
  top: 2px;
}

.page-header .breadcrumb .breadcrumb-item:last-child {
  opacity: 0.75;
}

.page-header .breadcrumb svg {
  width: 14px;
  height: 14px;
  vertical-align: baseline;
}

.upgrade-card .card-body {
  padding-bottom: 100px;
  z-index: 1;
  position: relative;
}

.upgrade-card > .container {
  z-index: 5;
  position: relative;
  margin-top: -60px;
}

.upgrade-card .up-price-table td {
  border-color: #f0f2f8;
}

.upgrade-card .up-price-table th {
  border: none;
}

.upgrade-card .up-price-table th + th {
  border-radius: 5px 5px 0 0;
  padding: 20px 0;
}

.upgrade-card .up-price-table tbody tr:first-child td {
  border-top: none;
}

.upgrade-card .up-price-table td,
.upgrade-card .up-price-table th {
  text-align: right;
}

.upgrade-card .up-price-table td + td,
.upgrade-card .up-price-table td + th,
.upgrade-card .up-price-table th + td,
.upgrade-card .up-price-table th + th {
  text-align: center;
}

.upgrade-card .up-price-table td + td,
.upgrade-card .up-price-table th + td {
  border-left: 1px solid #f0f2f8;
}

.hamburger {
  display: inline-block;
  cursor: pointer;
  transition: -webkit-filter 0.15s linear;
  transition: filter 0.15s linear;
  transition: filter 0.15s linear, -webkit-filter 0.15s linear;
  width: 20px;
  height: 20px;
}

.hamburger.is-active .hamburger-inner {
  background-color: #000;
}

.hamburger.is-active .hamburger-inner::after, .hamburger.is-active .hamburger-inner::before {
  background-color: #000;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
  width: 18px;
  height: 2px;
  background-color: #1c232f;
  border-radius: 4px;
  position: absolute;
  transition: transform 0.15s ease;
}

.hamburger-inner::after, .hamburger-inner::before {
  width: 18px;
  height: 2px;
  background-color: #1c232f;
  border-radius: 4px;
  position: absolute;
  transition: transform 0.15s ease;
}

.hamburger-inner::after, .hamburger-inner::before {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -6px;
}

.hamburger-inner::after {
  bottom: -6px;
}

.hamburger--arrowturn.is-active .hamburger-inner {
  transform: rotate(-180deg);
}

.hamburger--arrowturn.is-active .hamburger-inner::before {
  transform: translate3d(4px, 2px, 0) rotate(45deg) scale(0.7, 1);
}

.hamburger--arrowturn.is-active .hamburger-inner::after {
  transform: translate3d(4px, -2px, 0) rotate(-45deg) scale(0.7, 1);
}

@media (max-width: 1024px) {
  .pc-container {
      margin-left: 0;
  }

  .pc-container .page-header + .row,
  .pc-container .page-header + .pcoded-content,
  .pc-container .pcoded-content {
      padding-top: 30px;
  }

  .page-header {
      position: relative;
      left: 0;
      top: 0;
  }

  .minimenu .page-header {
      left: 0;
  }

  .minimenu .pc-container {
      margin-left: 0;
  }
}

@media (max-width: 767.98px) {

}




/* 2 css */

#cliente{
  font-size: 20px;
}
#bienvenida{
  font-size: 20px;
}
#auto{
  font-size: 20px;
}

#auto,#bienvenida,#cliente {
  background: transparent;
  border-bottom-color: rgb(2, 2, 2);
  border-color: black;

  font-size: 20px;

 margin: 10px;




}

#auto:hover,#bienvenida:hover,#bienvenida:focus,#cliente:hover,#cliente:focus
#auto:focus {
  color: rgb(255, 255, 255);
  border-bottom-color: rgb(8, 8, 8);

  border-color: black;
  background-color: rgb(250, 3, 3);
  border-color: white;
  border-width: 1px;
}

.titulo{
  font-size: 15px;
  justify-content: center;
  align-items: center;

}

.fondobanner{


  font-size: 1.125rem;
  background-image: url(https://cdn.mos.cms.futurecdn.net/jRfTsFPhiGPSAfpCS7bQmJ.jpg);
   background-size: 1450px 750px;
   width: 100%;
   color: white;
   border-radius: 25px;
   margin-bottom: 15px;



}

.logo {
  text-align: center;
  font-size: 2em;

}

.logo span {
  color: #ff1212;

}
