<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Signup 2</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,600,0,0"
    />

  </head>
  <body>
<!--
  https://wallpapercave.com/wp/wp7146319.jpg
ttps://www.mercedes-benz.com/en/vehicles/passenger-cars/concept-cars/_jcr_content/image/MQ6-12-image-20200908114040/00-mercedes-benz-eq-concept-cars-2560x1440.jpeg
https://wallpapercave.com/dwp2x/wp7146225.jpg


-->
<div class="contenedor">


    <div class="container wrapper">
      <a class="logo" href="/"><img src="http://images.squarespace-cdn.com/content/v1/56ae96aa859fd0b23b9aef2f/1555001641303-P290TUKFD5XW00F6ZK0C/Red+Eyes+Dragon+Boat+logo.png" alt="logo" style="height: 100px; width: 100px;"></a>
      <header>Registro de usuario</header>
 <div id="contenedorform" >
      <form action="#">

            <div class="details personal">
                  

                  <div class="fields">
                      <div class="input-field">
                          <label>Nombres Completo</label>
                          <input type="text" placeholder="Nombre..." required>
                      </div>
                      <div class="input-field">
                          <label>Apellidos Completos</label>
                          <input type="text" placeholder="Apellido..." required>
                      </div>
                      <div class="input-field">
                        <label>Cedula</label>
                        <input type="text" placeholder="Cedula..." required>
                     </div>
                     <div class="input-field">
                        <label>Direccion</label>
                        <input type="text" placeholder="Direccion..." required>
                    </div>
                    <div class="input-field">
                        <label>Numero Telefonico</label>
                        <input type="Text" placeholder="Telefono..." required>
                    </div>

                      <div class="input-field">
                          <label>Email</label>
                          <input type="text" placeholder="Email..." required>
                      </div>

                      <div class="input-field">
                          <label>Genero</label>
                          <select required>
                              <option disabled selected>Selecciona tu Genero</option>
                              <option>Masculino</option>
                              <option>Femenino</option>
                              <option>Otros</option>
                          </select>
                      </div>

                      <div class="input-field">
                        <label>Provincia </label>
                        <input type="text" placeholder="Provincia..." required>
                    </div>

                    <div class="input-field">
                        <label>Ciudad</label>
                        <input type="text" placeholder="Ciudad..." required>
                    </div>

                

                      
                  </div>
              </div>
              

              <div class="details ID">
                  

                <button class="nextBtn">
                    <span class="btnText">Registrar</span>
                    <i ></i>
                 </button>
                 <button class="nextBtn" style="margin-left: 80px;">
                    <span class="btnText">Cancelar</span>
                    <i ></i>
                 </button>
                  </div>

                    




      </form>
    </div>
  </div>
</div>
  </body>
</html>
