<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup 2</title>

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,600,0,0"
    />

  </head>
  <body>
<!--
  https://wallpapercave.com/wp/wp7146319.jpg
ttps://www.mercedes-benz.com/en/vehicles/passenger-cars/concept-cars/_jcr_content/image/MQ6-12-image-20200908114040/00-mercedes-benz-eq-concept-cars-2560x1440.jpeg
https://wallpapercave.com/dwp2x/wp7146225.jpg


-->
<div class="contenedor ">


    <div class="signup">
      <a class="logo" href="/"><img src="http://images.squarespace-cdn.com/content/v1/56ae96aa859fd0b23b9aef2f/1555001641303-P290TUKFD5XW00F6ZK0C/Red+Eyes+Dragon+Boat+logo.png" alt="logo" style="height: 100px; width: 100px;"></a>
      <h2>Inicio de Sesión</h2>
      <h3>Escoge el auto que te guste y rentalo con Carsoft</h3>
      <form  [formGroup]="loginform"  (ngSubmit)="login(loginform.value)" class="form" >

        <div class="textbox">
          <input aria-describedby="username1-help" type="text" [(ngModel)]="usuario.nombreUsuario"
           maxlength="30" minlength="3" pInputText formControlName="nombreUsuario"  />

          <label>Nombre de Usuario</label>
          <span class="material-symbols-outlined"> Email </span>
        </div>
        <div class="textbox">
          <input type="password" [(ngModel)]="usuario.password"   formControlName="password"   required />
          <label>Contraseña</label>
          <span class="material-symbols-outlined"> key </span>
        </div>
        <p>
          No te has registrado?
          <a href="#">Registrate Aquí</a>
        </p>

        <button type="submit" >
          Ingresar
          <span class="material-symbols-outlined"> arrow_forward </span>
          </button>
      </form>
    </div>
  </div>
  </body>
</html>
