
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Car Models Switch by HTML CSS JS | Code Village</title>
</head>
<body>
    <div class="header" id="header">
       
        <!-- Add information -->
        <div class="info">
            <div>
                <h2 id="mph">1.9s</h2>
                <p>60 mph</p>
            </div>
            <div>
                <h2 id="maxrange">150 mph</h2>
                <p>Max Range</p>
            </div>
            <div>
                <h2 id="topspeed">200 mi</h2>
                <p>Top Range</p>
            </div>
            <div class="line">
                <!-- to make line -->
            </div>
            <div>
                <h2 id="model">Model 1</h2>
            </div>
        </div>
    </div>


   

 

</body>
</html>
