<!doctype html>
<html lang="en">
  <head>


  </head>
  <body>

<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img  class="bd-placeholder-img"  src="assets\images\ff.jpg"  style="width: 100%; " >

        <div class="container">

          <div class="carousel-caption text-start" >
          <div id="glass">
            <h1 class="logo" style="margin-block-end: 15px;">Car<span>Soft</span></h1>
            <p>Bienvenido a nuestra página web de alquiler de automóviles.</p>
            <p><a   (click)="goToRegister($event)" id="btnnes" class="btn  "  >Registrate</a></p>
          </div>
        </div>
        </div>
      </div>
      <div class="carousel-item">

        <img  class="bd-placeholder-img"  src="assets\images\wallpaperbetter.com_7680x4320.jpg"  style="width: 100%; " >

        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
        <div class="container">
          <div class="carousel-caption">
            
            <h1 class="logo" style="margin-top: 50px;">Aten<span>ción</span></h1>
            <p>Ofrecemos un servicio de atención al cliente excepcional, con personal amable y profesional que está disponible las 24 horas del día para ayudarlo con cualquier pregunta o inquietud que tenga</p>
            <p><a (click)="goToCatalogo($event)"  id="btnnes" class="btn  " href="#">Catalogo</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">

        <img  class="bd-placeholder-img"  src="assets\images\cochenegro.jpg"  style="width: 100%; " >

        <div class="container">
          <div class="carousel-caption text-end">
            <h1 class="logo" style="margin-block-end: 15px;">Car<span>Soft</span></h1>
            <p>Movimiento sin límites con nuestros autos de renta</p>
            <p><a   (click)="goToServicos($event)" id="btnnes" class="btn" href="#">Servicios</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->


    <div class="card-container">
      <!-- aquí van tus tres tarjetas -->

    <div class="card">
      <img src="assets\images\Logo-Mazda.png" alt="Descripción de la imagen">
      <p>Mazda es una marca japonesa de automóviles conocida por su enfoque en el diseño y la ingeniería de vehículos deportivos y familiares. Fundada en 1920, Mazda ha desarrollado una reputación por su tecnología innovador</p>
      <button (click)="goToMazda($event)" class="card-button">Ver </button>
    </div>

    <div class="card">
      <img src="assets\images\2_38_з-900x900.png" style="width: 350px; height: 200px;" alt="Descripción de la imagen">
      <p>Kia es el más antiguo fabricante coreano de automóviles.​ Su sede central está ubicada en Yangjae-dong, Seocho-gu, Seúl, Corea del Sur. Es la segunda fábrica de automóviles más grande de Corea del Sur, después de la Compañía Hyundai Motors.</p>
      <button  (click)="goToKia($event)" class="card-button">Ver </button>
    </div>

    <div class="card">
      <img src="assets\images\580b57fcd9996e24bc43c4a3.png" alt="Descripción de la imagen">
      <p>Toyota Motor Corporation ​ es una empresa japonesa de fabricación de automóviles. Fundada en 1933 por Kiichiro Toyoda, su sede principal está ubicada en Toyota y Bunkyō aunque, por su carácter multinacional.</p>
      <button (click)="goToyota($event)" class="card-button">Ver</button>
    </div>










  </div>





    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        
        <h1 class="logo" style="margin-top: 50px;font-size: 50px;" >Feel Alive.<span>Sientete Vivo</span></h1>
        <p class="lead">El Mazda CX-5 es un SUV crossover compacto producido por el fabricante de automóviles japonés Mazda. Se introdujo por primera vez en 2012 y actualmente se encuentra en su segunda generación. El CX-5 es conocido por su diseño elegante, manejo ágil y eficiencia de combustible, así como por sus características de seguridad avanzadas y tecnología moderna.</p>
      </div>
      <div class="col-md-5">

        <section class="container-caru">

          <div class="card2" style="margin-right: 25px;">

            <img  id="imgcar" src="assets\images\Mazda CX5 2022 Ecuador fayals 4.png" style=" height: 500; width: 500; margin-right: 25px;"  role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">

            <p> Presenta un motor atmosférico de 1.998 centímetros cúbicos que desarrolla 165 caballos y 213 Nm de par motor.   </p>
          </div>

          <div class="card2" style="margin-right: 25px;">

            <img  id="imgcar" src="https://cdn.motor1.com/images/mgl/RPPkP/s1/mazda-cx-5-model-year-2021.webp " style=" height: 500; width: 500;"  role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">

            <p>El más potente es el CX-5 2.5 Skyactiv-G de 194 caballos.</p>
          </div>


          <div class="card2" style="margin-right: 25px;">

            <img  id="imgcar" src="https://acnews.blob.core.windows.net/imgnews/large/NAZ_5962211dcd7344838be4f3acc883917d.webp " style=" height: 500; width: 500;"  role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">

            <p>El mismo motor eleva la cilindrada hasta los 2.488 cc.</p>
          </div>
        </section>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        
        <h1 class="logo" style="margin-top: 50px; text-align: center;font-size: 50px;">Movimiento que inspira <br><span>        KIA Seltos</span></h1>

        <p class="lead">El Kia Seltos es un SUV compacto fabricado por la marca surcoreana Kia. Fue presentado por primera vez en el Salón del Automóvil de Los Ángeles en 2019 y se lanzó al mercado en 2020. El Seltos ofrece un diseño moderno y deportivo, una amplia variedad de características de seguridad y tecnología, y una buena relación calidad-precio.</p>
      </div>
      <div class="col-md-5 order-md-1">



        <section class="container-caru caru2">

          <div class="card2 " style="margin-right: 25px;" >

            <img  id="imgcar" src="assets\images\kiaseltos202002.jpg" style=" height: 500; width: 500;"  role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">

            <p> Presenta un motor atmosférico de 1.998 centímetros cúbicos que desarrolla 165 caballos y 213 Nm de par motor.   </p>
          </div>

          <div class="card2" style="margin-right: 25px;">

            <img  id="imgcar" src="https://www.kia.com/us/content/dam/kia/us/en/vehicles/seltos/2023/gallery/exterior/gallery_seltos_2023_exterior_5.jpg/_jcr_content/renditions/cq5dam.thumbnail.626.417.png" style=" height: 500; width: 500;"  role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">

            <p>El más potente es el CX-5 2.5 Skyactiv-G de 194 caballos.</p>
          </div>


          <div class="card2" style="margin-right: 25px;">

            <img  id="imgcar" src="assets\images\kia-seltos-quick-review-270720-14--203129.jpg" style=" height: 500; width: 500;"  role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">

            <p>El mismo motor eleva la cilindrada hasta los 2.488 cc.</p>
          </div>
        </section>






      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h1 class="logo" style="margin-top: 50px; font-size: 50px;">Siempre una mejor solución.<span>  Toyota Fortuner.</span></h1>
        <p class="lead" style="margin-top: 50px; ">El Toyota Fortuner es un SUV (vehículo utilitario deportivo) de tamaño mediano fabricado por Toyota. Se produce en varias versiones y está disponible en diferentes países del mundo. El vehículo cuenta con un diseño robusto y deportivo, y está equipado con tecnología avanzada en seguridad y comodidad. Además, el Fortuner ofrece un amplio espacio interior y un gran rendimiento en carretera y fuera de ella, convirtiéndolo en un vehículo popular para viajes en familia y aventuras al aire libre.</p>
      </div>
      <div  id="ultimo" class="col-md-5">


        <section class="container-caru caru3">

          <div class="card2 " style="margin-right: 25px;">

            <img  id="imgcar" src="assets\images\Nuevo-Toyota-Fortuner-Ec.jpg" style=" height: 500; width: 500;"  role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">

            <p> Presenta un motor atmosférico de 1.998 centímetros cúbicos que desarrolla 165 caballos y 213 Nm de par motor.   </p>
          </div>

          <div class="card2"style="margin-right: 25px;">

            <img  id="imgcar" src="assets\images\Toyota Fortuner 2021 Ecuador fayals a.jpg" style=" height: 500; width: 500;"  role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">

            <p>El más potente es el CX-5 2.5 Skyactiv-G de 194 caballos.</p>
          </div>


          <div class="card2"style="margin-right: 25px;">

            <img  id="imgcar" src="assets\images\NAZ_4ff65b9dd7bb48a38b428017615bae59.jpg" style=" height: 500; width: 500;"  role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">

            <p>El mismo motor eleva la cilindrada hasta los 2.488 cc.</p>
          </div>
        </section>


      </div>
    </div>

  </div><!-- /.container -->



</main>




  </body>
</html>
