

button,
input {
  border: 0;
  width: 100%;
  height: 60px;
  background: transparent;
  font-family: inherit;
  font-size: 20px;
  outline: none;
}

@keyframes clouds {
  100% {
    translate: -50vw -55%;
    scale: 1 1.1;
  }
}





.form {
  margin: 0;
  display: grid;
  gap: 16px;
  height: 80%;

}






:is(input:focus, input:valid) ~ label {
  translate: -40px -40px;
  scale: 0.875;
}

input:focus ~ label {
  color: #e72121;
}

input:focus {
  border-color:#e72121;
}

:is(input:focus, input:valid) ~ span {
  color: rgb(255 255 255 / 96%);
}





#imglog{
  width: 100%;
  position: fixed;
}

#logo{
  max-width: 100%;
  height: auto;
}

/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

.container{
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 50px;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 80%;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 19px );
  -webkit-backdrop-filter: blur( 19px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );



}
.container header{
    position: relative;
    font-size: 30px;
    font-weight: 600;
    color: #3f0202;



}
.container header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: #ff0b0b;

}
.container form{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: #fff;
    overflow: hidden;

    background:transparent;




}
.container form .form{
    position: absolute;

    transition: 0.3s ease;



}
.container form .form.second{
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);

}
form.secActive .form.second{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}
form.secActive .form.first{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);

}
.container form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    margin: 6px 0;
    color: #3f0202;;
}
.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    
}
form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
 
    

}
.input-field label{
    font-size: 20px;
    font-weight: 500;
    color: #3f0202;
  
    

}
.input-field input, select{
    outline: none;
    font-size: 20px;
    width: 200px;
    height: 300px;
    color: #3f0202;;
    border-radius: 5px;
    border: 1px solid #ff0303;
    padding: 0 15px;
    height: 42px;
    margin: 20px;
}
.input-field input :focus,
.input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.input-field select,
.input-field input[type="date"]{
    color:#3f0202;;
}

.input-field input[type="date"]:valid{
    color: #3f0202;;
}
.input-field input[type="text"]:valid{
  color: #3f0202;;
}
.container form button, .backBtn{

    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;;
    border-radius: 5px;

    background-color: #3f0202;;
    transition: all 0.3s linear;
    cursor: pointer;
    top: 55%;
    left: 50%;
border-radius: 25px;





}
.container form .btnText{
    font-size: 20px;
    font-weight: 400;

}
form button:hover{
    background-color: #3f0202;;
}
form button i,
form .backBtn i{
    margin: 0 6px;
}
form .backBtn i{
    transform: rotate(180deg);
}
form .buttons{
    display: flex;
    align-items: center;

}
form .buttons button , .backBtn{
    margin-right: 14px;

}

@media (max-width: 750px) {
    .container form{
        overflow-y: scroll;
    }
    .container form::-webkit-scrollbar{
       display: none;
    }
    form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 550px) {
    form .fields .input-field{
        width: 100%;
    }
}

.details{
  padding: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.contenedor{
  background-image: url("https://cloudfront-us-east-1.images.arcpublishing.com/copesa/IYBYQZWCIND4NHUXSWUEQWADKU.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#logo{
  max-width: 100%;
  height: auto;
}

#contenedorform{
  width: 80%;
  height: 600px;
  margin: 0 auto;
}

.nextBtn{

}
