<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RegistroCar</title>
    <link
      rel="stylesheet"
      href="registercar.component.css"
    />


  </head>
  <body>


<div class="contenedor">




    <div class="container wrapper">
      <a class="logo" href="/"><img src="http://images.squarespace-cdn.com/content/v1/56ae96aa859fd0b23b9aef2f/1555001641303-P290TUKFD5XW00F6ZK0C/Red+Eyes+Dragon+Boat+logo.png" alt="logo" style="height: 100px; width: 100px;"></a>
      <header>Registro de autos</header>
 <div id="contenedorform" >
      <form action="#">


            <div class="details personal">
                  <span class="title">Datos del automovil</span>


                  <div class="fields">
                      <div class="input-field">
                          <label>Número de placa</label>
                          <input type="text" placeholder="Número de Placa" required>
                      </div>
                      <div class="input-field">
                        <label>Tipo de vehiculo</label>
                        <select required>
                            <option disabled selected>Selecciona Tipo</option>
                            <option>Tipo A</option>
                            <option>Tipo B</option>
                            <option>Tipo C</option>
                        </select>
                    </div>


                      <div class="input-field">
                          <label>Modelo</label>
                          <input type="text" placeholder="Ingrese el Modelo" required>
                      </div>


                      <div class="input-field">
                          <label>Color</label>
                          <input type="text" placeholder="Ingrese el Color" required>
                      </div>


                      <div class="input-field">
                          <label>Año</label>
                          <input type="Text" placeholder="Ingrese el año" required>
                      </div>


                     


                      <div class="input-field">
                        <label>Estado</label>
                        <select required>
                            <option disabled selected>Selecciona Tipo</option>
                            <option>Alto</option>
                            <option>Bajo</option>
                            <option>Medio</option>
                        </select>
                    </div>


                      <div class="input-field">
                          <label>Marca</label>
                          <input type="text" placeholder="Ingrese la Marca" required>
                      </div>
                  </div>
              </div>


              <div class="details ID">
                  <span class="title"></span>




                    <button class="nextBtn">
                      <span class="btnText">Registrar</span>
                      <i class="uil uil-navigator"></i>
                   </button>
             </div>






      </form>
    </div>
  </div>
</div>
  </body>
</html>