<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css'>

<div style="margin-top: 25px;">


    

    <div class="fondoxdxd">
        <img src="assets/images/Red%20Shape%20Simple%20Rent%20Car%20Business%20Facebook%20Ads%20(4).png" alt="" style="width:100%;height: 500px; margin-block-end: 25px;">
    </div>


    <p style="text-align: center; margin-left: 200px;margin-right: 200px;">Somos una empresa confiable en donde ofrecemos el mejor servicio de renta de autos para 
        nuestros clientes. Por lo cual nuestro alto estándar de calidad y servicio supera todas 
        las expectativas de nuestros clientes y convierte la experiencia de rentar un vehículo en 
        un proceso simple, claro, agradable y libre de complicaciones.</p>

    <div class="container__slider">

        <div class="container">
            <input type="radio" name="slider" id="item-1" checked>
            <input type="radio" name="slider" id="item-2">
            <input type="radio" name="slider" id="item-3">

            <div class="cards">
                <label class="card" for="item-1" id="selector-1">
                    <img src="https://images.unsplash.com/photo-1594611342073-4bb7683c27ad?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80">
                </label>
                <label class="card" for="item-2" id="selector-2">
                    <img src="https://images.unsplash.com/photo-1552519507-da3b142c6e3d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80">
                </label>
                <label class="card" for="item-3" id="selector-3">
                    <img src="https://images.unsplash.com/photo-1607853554251-bd2eed4145da?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80">
                </label>

                <label class="card" for="item-4" id="selector-4">
                  <img src="https://images.unsplash.com/photo-1559416523-140ddc3d238c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=851&q=80">
              </label>
              <label class="card" for="item-5" id="selector-5">
                  <img src="https://images.unsplash.com/photo-1670332362073-52b7b269b242?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80">
              </label>
              <label class="card" for="item-6" id="selector-6">
                  <img src="https://images.unsplash.com/photo-1615887110697-0819ec23465f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80">
              </label>
              <label class="card" for="item-7" id="selector-7">
                <img src="https://images.unsplash.com/photo-1578102176342-dbaecee78bca?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80">
            </label>


            </div>
        </div>

    </div>

    <p>Contactanos:</p>
    <!-- Social Icons Start !-->

    <div class="wrapper">
        <a href="#" class="icon facebook">
          <div class="tooltip">Facebook</div>
          <span><i class="fab fa-facebook-f"></i></span>
        </a>
        <a href="#" class="icon twitter">
          <div class="tooltip">Twitter</div>
          <span><i class="fab fa-twitter"></i></span>
        </a>
        <a href="#" class="icon instagram">
          <div class="tooltip">Instagram</div>
          <span><i class="fab fa-instagram"></i></span>
        </a>
        <!-- <a href="#" class="icon github">
          <div class="tooltip">Github</div>
          <span><i class="fab fa-github"></i></span>
        </a> -->
        <!-- <a href="#" class="icon youtube">
          <div class="tooltip">Youtube</div>
          <span><i class="fab fa-youtube"></i></span>
        </a> -->
      </div>
  
    
    
    



</div>



