<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Signup 2</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,600,0,0"
    />

  </head>
  <body>
<!--
  https://wallpapercave.com/wp/wp7146319.jpg
ttps://www.mercedes-benz.com/en/vehicles/passenger-cars/concept-cars/_jcr_content/image/MQ6-12-image-20200908114040/00-mercedes-benz-eq-concept-cars-2560x1440.jpeg
https://wallpapercave.com/dwp2x/wp7146225.jpg


-->
<div class="contenedor">


    <div class="container wrapper">
      <a class="logo" href="/"><img src="http://images.squarespace-cdn.com/content/v1/56ae96aa859fd0b23b9aef2f/1555001641303-P290TUKFD5XW00F6ZK0C/Red+Eyes+Dragon+Boat+logo.png" alt="logo" style="height: 100px; width: 100px;"></a>
      <header>Registro de usuario</header>
 <div id="contenedorform" >
      <form action="#">

            <div class="details personal">
                  <span class="title">Datos personales</span>

                  <div class="fields">
                      <div class="input-field">
                          <label>Nombre Completo</label>
                          <input type="text" placeholder="Ingrese Su Nombre" required  class={{verfNombres}}
                          [(ngModel)]="persona.nombre"  name="nombre" pInputText>
                      </div>

                      <div class="input-field">
                          <label>Apellidos Completos</label>
                          <input type="text" placeholder="Ingrese Su Apellido" required class={{verfApellidos}}
                          [(ngModel)]="persona.apellido"  name="apellido" pInputText>
                      </div>

                      <div class="input-field">
                          <label>Email</label>
                          <input type="text" placeholder="Ingrese su email" required class={{verfCorreo}}
                          [(ngModel)]="persona.correo" (ngModelChange)="validarCorreo()"  name="correp" pInputText>
                      </div>

                      <div class="input-field">
                          <label>Numero Telefonico</label>
                          <input type="Text" placeholder="Ingrese su numero Telefonico" required  class={{verftelefono}}
                          [(ngModel)]="persona.telefono"  name="telefono" pInputText>
                      </div>

                      <div class="input-field">
                          <label>Genero</label>
                          <select required style="background-color: darkblue;">
                              <option disabled selected>Seleccione</option>
                              <option>Masculino</option>
                              <option>Femenino</option>
                              <option>Otros</option>
                          </select>
                      </div>

                      <div class="input-field">
                          <label>Cedula</label>
                          <input type="text" placeholder="Ingrese su Cedula" required  class={{verfcedula}}
                          [(ngModel)]="persona.cedula"  name="cedula" pInputText>
                      </div>
                  </div>
              </div>

              <div class="details ID">
                  <span class="title">Extras</span>

                  <div class="fields">

                    <div class="input-field">
                          <label>Edad</label>
                          <input type="text" placeholder="Ingrese su edad" required  class={{verfedad}}
                          [(ngModel)]="persona.edad"  name="edad" pInputText>
                      </div>

                      <div class="input-field">
                          <label>Usuario</label>
                          <input type="text" placeholder="Ingrese su nombre de usuario" required  class={{verfUsername}}
                          [(ngModel)]="usuario.nombreUsuario"  name="nombreUsuario" pInputText>
                      </div>

                      <div class="input-field">
                          <label>Contraseña</label>
                          <input type="password" placeholder="Ingrese su contraseña" required class={{verfPassword}}
                         [(ngModel)]="usuario.password" name="password" >
                      </div>



                      <div class="input-field">
                          <label>Ciudad </label>
                          <input type="text" placeholder="Ingresa tu provincia" required class={{verfciudad}}
                          [(ngModel)]="persona.ciudad"   name="ciudad">
                      </div>
                      <div class="input-field">
                        <label>direccion </label>
                        <input type="text" placeholder="Ingresa tu provincia" required class={{verfdireccion}}
                        [(ngModel)]="persona.direccion"   name="direccion">
                    </div>


                  </div>

                    <button class="nextBtn"   (click)="registrarUsuario()">
                      <span class="btnText">Registrar</span>
                      <i class="uil uil-navigator"></i>
                   </button>
             </div>



      </form>
    </div>
  </div>
</div>
  </body>
</html>
