

/* SEGUNDO CSS */


/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: white;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  overflow: hidden;
}




.home-section{
  position: relative;
  background: linear-gradient(to right,rgb(69, 235, 182),30%, #022543);
  min-height: 87vh;
  width: calc(100% - 30px);

  transition: all 0.5s ease;
  border-radius: 15px;
  text-align: center;
  overflow: hidden;

 background-image: url("https://wallpapershome.com/images/wallpapers/triangles-2560x1440-3d-red-black-hd-16371.jpg");

}





.home-section .home-content{
  position:static;

  overflow: hidden;
}




/* Responsive Media Query */
@media (max-width: 1240px) {
  .sidebar{
    width: 60px;
  }
  .sidebar.active{
    width: 220px;
  }
  .home-section{
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section{
    left: 220px;
    width: calc(100% - 220px);
    overflow: hidden;
  }
  .home-section nav{
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section nav{
    width: calc(100% - 220px);
    left: 220px;
  }
}
@media (max-width: 1150px) {
  .home-content .sales-boxes{
    flex-direction: column;
  }
  .home-content .sales-boxes .box{
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 20px;
  }
  .home-content .sales-boxes .top-sales{
    margin: 0;
  }
}
@media (max-width: 1000px) {
  .overview-boxes .box{
    width: calc(100% / 2 - 5px);
    margin-bottom: 15px;
  }
}
@media (max-width: 700px) {
  nav .sidebar-button .dashboard,
  nav .profile-details .admin_name,
  nav .profile-details i{
    display: none;
  }
  .home-section nav .profile-details{
    height: 50px;
    min-width: 40px;
  }
  .home-content .sales-boxes .sales-details{
    width: 560px;
  }
}
@media (max-width: 550px) {
  .overview-boxes .box{
    width: 100%;
    margin-bottom: 15px;
  }
  .sidebar.active ~ .home-section nav .profile-details{
    display: none;
  }
}
@media (max-width: 400px) {
  .sidebar{
    width: 0;
  }
  .sidebar.active{
    width: 60px;
  }
  .home-section{
    width: 100%;
    left: 0;
  }
  .sidebar.active ~ .home-section{
    left: 60px;
    width: calc(100% - 60px);
  }
  .home-section nav{
    width: 100%;
    left: 0;
  }
  .sidebar.active ~ .home-section nav{
    left: 60px;
    width: calc(100% - 60px);
  }
}

#contenedorbn{
    background:linear-gradient(top, #808080,30%, #3FADA8);
    overflow: hidden;


}


/*   tercer css */
/* Google Fonts Poppins */




/* Google Fonts - Poppins */


/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}




.cover-container {
  max-width: 42em;
  overflow: hidden;


}






#btns{
    background-color: rgb(218, 211, 211);
    border-bottom-color: rgb(2, 2, 2);
    border-color: black;
    margin: 50px;
    padding: 15px;
}

#btns:hover,
#btns:focus {
    color:rgb(241, 241, 241) ;
    border-bottom-color: rgb(8, 8, 8);

    border-color: black;
    background-color:  rgb(9, 9, 9);

}
#cont{
  overflow: hidden;
  height: 100%;

}
.home-wrapper{


  margin-left: auto;
  margin-left: 300px;
  padding-top: 100px;
  overflow: hidden;

    }




body{
    overflow: hidden;
}














































































/*  */




/*
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .fondobanner{


    font-size: 1.125rem;
    background-image: url(https://cdn.mos.cms.futurecdn.net/jRfTsFPhiGPSAfpCS7bQmJ.jpg);
     background-size: 1450px 750px;
     width: 100%;
     color: white;



  }
  .logo {
    text-align: center;
    font-size: 3em;
  }

  .logo span {
    color: #B70E21;
  }

  */

